spring:
  application:
    name: creditto-service
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AUTH_SERVER_URL}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.MySQL8Dialect

logging:
  level:
    org.hibernate.sql: DEBUG

admin:
  monitoring:
    kibana-url: ${KIBANA_URL}
    zipkin-url: ${ZIPKIN_DASHBOARD_URL}
  auth:
    username: ${ADMIN_USERNAME}
    password: ${ADMIN_PASSWORD}

feign:
  client:
    config:
      default:
        connectTimeout: 15000
        readTimeout: 15000