name: CI

on:
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: MySQL 초기화 대기
        run: |
          sleep 5

        shell: bash

      - name: .env 파일 생성
        run: |
          
          # .env 파일 생성
          touch .env
          
          # .env 파일 작성
          echo "${{ secrets.ENV_FILE }}" >> .env
          
          chmod 600 .env

        shell: bash

      - name: build 실행
        run: |
          chmod +x gradlew
          ./gradlew build --no-daemon
        shell: bash

      - name: sonarqube
        run: |
          ./gradlew sonar \
            -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_NAME }} \
            -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}

        shell: bash

      - name: SonarQube Quality Gate check
        id: sonarqube-quality-gate-check
        uses: sonarsource/sonarqube-quality-gate-action@master
        with:
          pollingTimeoutSec: 600
          scanMetadataReportFile: build/sonar/report-task.txt
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      - name: clean
        run: |
          rm .env
        shell: bash

      - name: Cleanup build artifacts
        if: always()
        run: |
          rm -rf build
          docker system prune -af --volumes
        shell: bash